
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div>
        <h2>從 Controller 傳遞數據到 View</h2>

        <hr>

        ViewData = @ViewData["A"] <br>
        ViewBag = @ViewBag.B <br>
        TempData = @TempData["C"] <br>

        <hr>
    </div>
</body>
</html>
