
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3A</title>
</head>
<body>
    <div>
        <h1>從 Controller 傳遞數據到 View</h1>
        <h2>如果ViewData和ViewBag命名一樣</h2>


        <hr>

        呼叫ViewData["XYZ"] = @ViewData["XYZ"] <br>
        呼叫ViewBag.XYZ = @ViewBag.XYZ <br>

        <hr>
    </div>
</body>
</html>
